<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Dashboard for ethnographic data</title>
</head>
<body>
	<article id="app">
		<button v-if="detailPage" @click="detailPage = false">Back</button>
		<section v-if="!detailPage">
			<h1>Onderwerpen</h1>
			<ul>
				<result-link
				v-for="result in results"
				v-bind:result="result"
				v-bind:key="result.id"
				@click.native="setTheme(result)"
				>
				</result-link>
			</ul>
		</section>
		<section v-if="detailPage">
			<h1> {{ currentTheme }} </h1>
			<theme-page></theme-page>
		</section>
	</article>
	<script src="index.js"></script>
</body>
</html>