<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Dynamic Dashboard for survey data</title>
</head>
<body>
	<article id="app">
		<section>
			{{ message }}
			<ul>
				<survey-answer
				v-for="answer in answers"
				v-bind:answer="answer"
				v-bind:key="answer.id">
				</survey-answer>
			</ul>
		</section>
		<section id="data-visualization">
			<data-visualization v-if="detailPage"></data-visualization>
		</section>
	</article>
	<script src="index.js"></script>
</body>
</html>