<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<title>Dashboard for ethnographic data</title>
</head>
<body>
	<article id="app">
		<a v-if="detailPage" href="#">Back</a>
		<section v-if="!detailPage">
			<h1>Onderwerpen</h1>
			<ul>
				<result-link
				v-for="result in results"
				v-bind:result="result"
				v-bind:key="result.id">
				</result-link>
			</ul>
		</section>
		<section v-if="detailPage">
			<theme-page></theme-page>
		</section>
	</article>
	<script src="https://unpkg.com/d3@5.6.0/dist/d3.min.js"></script>
	<script src="index.js"></script>
</body>
</html>